html, body {
    height: 100%;
    margin: 0;
  }
  
#content {
    height: 100%;
}

.navBar {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr 150px 150px 150px 150px;
    grid-template-rows: 80px;
    grid-template-areas: '. title homeBtn menuBtn contactBtn .';
    
    background-color: #183A37;
    align-items: center;
    z-index: 1;
}

h1 {
color: rgba(255, 255, 255, 0.863);
margin: 0;
grid-area: title;
align-self: center;
font-family: 'Raleway', sans-serif;

}

.homeBtn {
color: rgba(255, 255, 255, 0.863);
grid-area: homeBtn;
height: 30px;
width: 100px;
font-size: 20px;
font-family: 'Raleway', sans-serif;
justify-items: center;


background-color: transparent;
border: none;
outline: none;
}
.homeBtn:hover, .homeBtn:focus {
    color: tomato;
}


.menuBtn {
color: rgba(255, 255, 255, 0.863);
grid-area: menuBtn;
height: 30px;
width: 100px;
font-size: 20px;
font-family: 'Raleway', sans-serif;
justify-items: center;


background-color: transparent;
border: none;
outline: none;
}
.menuBtn:hover, .menuBtn:focus {
    color: tomato;
}

.contactBtn {
color: rgba(255, 255, 255, 0.863);
grid-area: contactBtn;
height: 30px;
width: 100px;
font-size: 20px;
font-family: 'Raleway', sans-serif;
justify-items: center;


background-color: transparent;
border: none;
outline: none;
}
.contactBtn:hover, .contactBtn:focus {
    color: tomato;
}

.homeDiv {
    background-color: black;
    height: inherit;
}

.homeImage {
    z-index: 0;
    position: relative;
    display: block;
    width: 100%;
    height: inherit;
    opacity: 0.6;

}

.home-h2 {
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    position: absolute;
    display: inline;
    top: 30%;
    left: 25%;
    right: 25%;
    font-size: 90px;
    color: rgb(223, 223, 223);
    margin: 0;
    text-align: center;
}

.home-h3 {
    z-index: 1;
    margin: 0;
    position: absolute;
    display: inline;
    top: 60%;
    left: 37%;
    font-size: 25px;
    color: rgba(223, 223, 223, 0.87);
    font-family: 'Raleway', sans-serif;


}

.menuDiv {
    background-color: #04151ff1;
    height: inherit;
}

.menuTitle {
    margin: 0;
    position: absolute;
    display: inline-block;
    top: 20%;    
    left: 43%;
    font-family: 'Raleway', sans-serif;
    color: rgba(223, 223, 223, 0.87);
    font-size: 50px;

}

.item1-h2 {
    margin: 0;
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 40%;
    font-family: 'Raleway', sans-serif;
    color: rgba(223, 223, 223, 0.87);
    font-size: 30px;

}
.item2-h2 {
    margin: 0;
    position: absolute;
    display: inline-block;
    top: 60%;
    left: 40%;
    font-family: 'Raleway', sans-serif;
    color: rgba(223, 223, 223, 0.87);
    font-size: 30px;

}
.item3-h2 {
    margin: 0;
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 40%;
    font-family: 'Raleway', sans-serif;
    color: rgba(223, 223, 223, 0.87);
    font-size: 30px;

}

.contactDiv{
    background-color: #04151ff1;
    height: inherit;
}

.contactTitle {
    margin: 0;
    position: absolute;
    display: inline-block;
    top: 20%;    
    left: 43%;
    font-family: 'Raleway', sans-serif;
    color: rgba(223, 223, 223, 0.87);
    font-size: 50px;

}

.contact-h2{
    margin: 0;
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 20%;
    font-family: 'Raleway', sans-serif;
    color: rgba(223, 223, 223, 0.87);
    font-size: 30px;
}